.ant-form-item-explain-error {
  @apply text-right mb-4;
}

.ant-collapse-header-text {
  @apply text-right
}

.ant-table-thead .ant-table-cell {
  background: theme("backgroundColor.primary.500") !important;
  color: theme("colors.white") !important;
}

.ant-table-content {
  @apply overflow-auto overflow-y-hidden rounded-3xl border-[1.5px] border-[#E2E8F0] whitespace-nowrap !important;
}

.ant-table-row:nth-child(even) {
  background-color: theme("backgroundColor.gray.50") !important;
}

.ant-table-row:nth-child(odd) {
  background-color: theme("backgroundColor.white") !important;
}

.ant-table-thead .ant-table-cell:before {
  @apply w-0 !important
}

.ant-table-tbody .ant-table-row .ant-table-cell:last-child:before {
  @apply w-0
}

.ant-table-tbody .ant-table-row .ant-table-cell:before {
  @apply bg-gray-300;
  position: absolute;
  top: 50%;
  inset-inline-end: 0;
  width: 1px;
  height: 1.6em;
  transform: translateY(-50%);
  transition: background-color 0.2s;
  content: "";
}

.ant-table-cell {
  @apply font-medium
}

.ant-table-row:last-child .ant-table-cell {
  border: none !important;
}

.ant-notification-notice {
  direction: rtl;
  font-family: IRANSans !important;
}

.ant-modal-mask {
  background-color: rgb(255 255 255 / 0%) !important;
  backdrop-filter: blur(1px);
}

.card-body-p-0 .ant-card-body {
  @apply p-0 !important
}

.ant-descriptions-item-label {
  @apply items-center flex !important
}

.ant-select-selector {
  @apply text-right h-12 bg-gray-100 !important
}

.ant-select-selection-item {
  @apply flex items-center !important
}

.ant-input-number-input {
  @apply h-12 bg-gray-100 !important
}

.ant-radio-button-wrapper {
  @apply h-11 mt-0.5 flex items-center justify-center !important
}

.ant-radio-button-wrapper:not(.ant-radio-button-wrapper-checked) {
  @apply bg-gray-100 !important
}

.ant-input {
  @apply h-12 bg-gray-100 !important
}

.ant-menu-item-selected {
  background-color: theme("backgroundColor.primary.500") !important;
  color: theme("colors.white") !important;
}

.ant-btn-lg {
  @apply h-12 !important
}