.ant-form-item-explain-error {
  @apply text-right mb-4;
}

.ant-collapse-header-text {
  @apply text-right;
}

.ant-table-thead .ant-table-cell {
  background: theme("backgroundColor.primary.500") !important;
  color: theme("colors.white") !important;
}

.ant-table-content {
  @apply overflow-auto overflow-y-hidden rounded-3xl border-[1.5px] border-[#E2E8F0] whitespace-nowrap !important;
}

.ant-table-row:nth-child(even) {
  background-color: theme("backgroundColor.gray.50") !important;
}

.ant-table-row:nth-child(odd) {
  background-color: theme("backgroundColor.white") !important;
}

.ant-table-thead .ant-table-cell:before {
  @apply w-0 !important;
}

.ant-table-tbody .ant-table-row .ant-table-cell:last-child:before {
  @apply w-0;
}

.ant-table-tbody .ant-table-row .ant-table-cell:before {
  @apply bg-gray-300;
  position: absolute;
  top: 50%;
  inset-inline-end: 0;
  width: 1px;
  height: 1.6em;
  transform: translateY(-50%);
  transition: background-color 0.2s;
  content: "";
}

.ant-table-cell {
  @apply font-medium;
}

.ant-table-row:last-child .ant-table-cell {
  border: none !important;
}

.ant-notification-notice {
  direction: rtl;
  font-family: IRANSans !important;
}

.ant-modal-mask {
  background-color: rgb(255 255 255 / 0%) !important;
  backdrop-filter: blur(1px);
}

.ant-drawer-mask {
  background-color: rgb(255 255 255 / 0%) !important;
  backdrop-filter: blur(1px);
}

.card-body-p-0 .ant-card-body {
  @apply p-0 !important;
}

.ant-descriptions-item-label {
  @apply items-center flex !important;
}

.ant-select-selection-item {
  @apply flex items-center !important;
}

.ant-input-number-input {
  @apply h-12 bg-gray-50 !important;
}

.ant-radio-button-wrapper {
  @apply h-11 mt-0.5 flex items-center justify-center !important;
}

.ant-radio-button-wrapper:not(.ant-radio-button-wrapper-checked) {
  @apply bg-gray-50 !important;
}

.ant-input {
  @apply h-12 bg-gray-50 !important;
}

/* start menu */
.ant-menu {
  @apply border-e-0 lg:border-e-[0px] !important;
}

.ant-menu-item-selected {
  @apply bg-gray-100  !important;
}

.ant-menu-item-selected span {
  @apply text-gray-700  !important;
}

.ant-menu-item-selected img {
  @apply bg-gray-100 text-gray-700 !important;
}

.ant-menu-item:hover {
  @apply border-[1.5px] border-gray-100 !important;
}

.ant-menu-item .ant-menu-title-content:active {
  @apply font-bold text-gray-700 !important;
}

.ant-menu-item {
  @apply my-3 mr-0 ml-0 w-full py-4 px-4 rounded-lg text-gray-100 !important;
}

.ant-menu-item-divider {
  margin: 16px 0 !important;
}

.custom-menu-item {
  animation: fadeInUp 0.9s ease forwards;
  opacity: 0;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* end menu */

.ant-btn-primary {
  @apply bg-primary-500 !important;
}

.ant-btn-dangerous {
  @apply bg-red-500 text-white !important;
}

.ant-btn-lg {
  @apply h-12 !important;
}

.ant-select-selection-search {
  @apply flex items-center !important;
}

.ant-select-selection-placeholder {
  @apply flex items-center !important;
}

.ant-select,
.ant-select-selector {
  @apply bg-gray-50 !important;
  min-height: 48px !important;
}

.ant-input:focus,
.ant-input:hover {
  @apply border-2 border-primary-500 shadow-none !important;
}

.ant-input-number:focus,
.ant-input-number:hover,
.ant-input-number-focused {
  @apply border-2 border-primary-500 shadow-none !important;
}

.ant-select:focus,
.ant-select-selector:focus,
.ant-select-selector:hover {
  @apply border-2 border-primary-500 shadow-none !important;
}

.ant-btn-default:hover,
.ant-btn-default:focus {
  @apply border-2 border-primary-500 shadow-none !important;
}

.ant-table-cell-fix-left {
  @apply shadow-lg !important;
}

.ant-pagination {
  @apply items-center !important;
}

.ant-pagination-total-text {
  @apply flex items-center !important;
}

.ant-pagination .ant-pagination-item-active {
  background-color: theme("colors.primary.500") !important;
  border-color: theme("colors.gray.200") !important;
}

.ant-pagination .ant-pagination-item-active a {
  color: theme("colors.white") !important;
}

.ant-pagination .ant-pagination-next .ant-pagination-item-link {
  background-color: theme("backgroundColor.gray.100") !important;
}

.ant-pagination .ant-pagination-prev .ant-pagination-item-link {
  background-color: theme("backgroundColor.gray.100") !important;
}

.ant-pagination-item {
  color: theme("colors.primary.500") !important;
  background-color: theme("backgroundColor.gray.100") !important;
}

.ant-btn:hover {
  @apply scale-[104%];
}

.ant-transfer-operation button {
  background-color: theme("backgroundColor.CustomizeBlue.500");
  height: 32px !important;
}

.ant-transfer-operation button:not(:disabled):hover {
  background-color: theme("backgroundColor.blue.500") !important;
}

.ant-transfer-list-header {
  background-color: theme("backgroundColor.primary.500") !important;
  color: white !important;
  font-weight: bold !important;
}

.ant-transfer-list-header .ant-checkbox-disabled .ant-checkbox-inner {
  background-color: theme("backgroundColor.gray.200") !important;
}

.ant-transfer-list-header
  .ant-checkbox-indeterminate
  .ant-checkbox-inner::after {
  background-color: theme("backgroundColor.CustomizeBlue.500") !important;
  border-radius: 9999px !important;
}
.ant-transfer-list-header
  .ant-checkbox-wrapper-checked
  .ant-checkbox-checked
  .ant-checkbox-inner {
  background-color: theme("backgroundColor.CustomizeBlue.500") !important;
  border-color: theme("backgroundColor.CustomizeBlue.500") !important;
}

.ant-transfer-list-content-item
  .ant-checkbox-wrapper
  .ant-checkbox-checked
  .ant-checkbox-inner {
  background-color: theme("backgroundColor.CustomizeBlue.500") !important;
  border-color: theme("backgroundColor.CustomizeBlue.500") !important;
}

.ant-upload {
  @apply w-full
}