.box-border {
  border-radius: 16px !important;
  border: 1px solid var(--gray-200, #e2e8f0) !important;
  background: var(--black-white-white, #fff) !important;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.05) !important;
  margin-bottom: 20px;
}

.DatePicker {
  @apply w-full;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: theme("colors.gray.300");
}

::-webkit-scrollbar-thumb {
  background: theme("colors.primary.500");
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme("backgroundColor.green.500");
}