.box-border {
  border-radius: 16px !important;
  border: 1px solid var(--gray-200, #e2e8f0) !important;
  background: var(--black-white-white, #fff) !important;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.05) !important;
  margin-bottom: 20px;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: theme("colors.gray.300");
}

::-webkit-scrollbar-thumb {
  background: theme("colors.primary.500");
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme("backgroundColor.green.500");
}

.scrollable-content {
  overflow: auto;
  direction: rtl;
  height: 100vh;
}

/* For Firefox */

* {
  scrollbar-width: thin;
}

* {
  scrollbar-color: theme("colors.primary.500") theme("colors.gray.300");
}

* {
  scrollbar-3dlight-color: theme("colors.primary.500");
  scrollbar-darkshadow-color: theme("colors.primary.500");
  scrollbar-face-color: theme("backgroundColor.green.500");
  scrollbar-highlight-color: theme("backgroundColor.green.500");
  scrollbar-shadow-color: theme("backgroundColor.green.500");
}

.sidebar-Skeleton .ant-skeleton-input,
.ant-skeleton-title,
.ant-skeleton-paragraph li {
  @apply bg-slate-600 !important;
}

.sidebar-Skeleton .ant-skeleton-active {
  animation-duration: 50s !important;
  animation-timing-function: linear !important;
  animation-iteration-count: infinite !important;
}

.DatePicker {
  @apply w-full static !important;
}
.DatePicker__calendarContainer {
  @apply absolute z-10 !important;
}

.ant-drawer-content-wrapper {
  @apply w-72 !important;
}

.mobile-drawer .ant-drawer-wrapper-body .ant-drawer-body {
  @apply p-0 bg-red-900 !important;
}
